:root {
  --bg1: #292368;
  --bg2: #10083d;
  --primary: #25BBA8;
  --focus: rgb(201, 145, 4);
  --vertimarg: 0.6rem;
  --horimarg: 0.3rem;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  color: var(--primary);
  list-style: none;
}



.assign-btn {
  width: 100px;
  height: 50px;
}

ul {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: var(--bg2);
  border: none;
  border-bottom: 2px solid var(--primary);
  font-weight: bold;
  color: var(--primary);
  outline: none;
  padding: 0.3rem 0rem;
  text-align: center;
  transition: all 200ms ease-in-out;
}

input:focus {
  border-bottom: 2px solid var(--focus);
  text-shadow: var(--primary) 0px 0px 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--bg2) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: var(--primary) !important;
}

::placeholder {
  font-weight: 500;
  color: var(--primary);
  opacity: 1; /* Firefox */
}

select {
  font-weight: bold;
  color: var(--primary);
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  background-color: var(--bg2);
  height: 50px;
}

.app {
  min-height: 100vh;
}

.navbar {
  background-color: var(--bg2);
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin: var(--vertimarg) var(--horimarg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__img {
  width: 200px;
  height: 50px;
}

/* .logout-btn {
  width: 100px;
  height: 50px;
} */

.home, .transactions {
  background-color: var(--bg2);
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 2rem 1.5rem;
  margin: var(--vertimarg) var(--horimarg);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.home, .transactions, .login, .register, .sync, .chart-container, .navbar {
  box-shadow: 0 0 10px var(--primary)
}
.transactions h2, .transactions h3 {
  align-self:center;
  text-align: center;
}

.greeting {
  font-size: 1rem;
  font-weight: bold;
}

/* 
.login, .register {
  min-height: 50vh;
  background-color: var(--bg2);
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 2rem 1.5rem;
  margin: var(--vertimarg) var(--horimarg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  row-gap: 1.5rem;
}

.login ul, .register ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem 0rem 2rem;
} 
*/

.sync {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  min-height: 50vh;
  background-color: var(--bg2);
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 1.5rem 1.5rem;
  margin: var(--vertimarg) var(--horimarg);
}

.widget-prompt {
  font-weight: 500;
  margin: 1.5rem;
}

.chart-container {
  margin: var(--vertimarg) var(--horimarg);
  padding: 2rem;
  background-color: var(--bg2);
  border: 2px solid var(--primary);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.totals {
  margin-top: 2rem;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    color: var(--primary);
    text-shadow: var(--primary) 0px 0px 2px;
  }
  50% {
    color: var(--focus);
    text-shadow: var(--focus) 0px 0px 2px;
  }
  100% {
    color: var(--primary);
    text-shadow: var(--primary) 0px 0px 2px;
  }
}

.user-prompt {
  animation: pulse 2s infinite;
}

.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  height: fit-content;
}

.transactions-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 2rem;
  width: 90%;
  max-width: 400px;
  max-height: 75vh;
  overflow-y: scroll;
}

.transaction {
  padding: 2rem;
  border: 2px solid var(--primary);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  column-gap: 1rem;
}

.logo {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.no-logo {
  width: 150px;
  height: 150px;
}

.transac-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.2rem;
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.transac-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

select:focus {
  text-shadow: var(--primary) 0px 0px 2px;
  border: 2px solid var(--focus);
}

@media only screen and (min-width: 700px) {

  .transactions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
    height: fit-content;
  }

  .transactions-list {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    max-height: 80vh;
    overflow-x: scroll;
    max-width: 100%;
    width: 100%;
  }

  .transaction {
    padding: 2rem;
    border: 2px solid var(--primary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;
  }


}

@media only screen and (min-width: 970px) {

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    width: 80%;
    padding: 1rem 1.5rem;
    margin: var(--vertimarg) var(--horimarg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__img {
    width: 250px;
    height: 65px;
    margin: auto;
  }

  .navbar__btn--small {
    margin-left: auto;
  }

  .dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 2rem;
    padding: 0.5rem 10%;
  }

  .home {
    margin: 0;
    padding: 2rem;
    background-color: var(--bg2);
    border: 2px solid var(--primary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    flex: 1 1 20%;
    max-height: 55vh;
  }

  .chart-container {
    margin: 0;
    padding: 2rem;
    background-color: var(--bg2);
    border: 2px solid var(--primary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 2 70%;
  }

  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 500px;
  }

  .transactions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
    height: fit-content;
    flex: 1 1;
  }

  .transactions-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    max-height: 80vh;
    overflow-y: scroll;
    max-width: 100%;
    width: 100%;
  }

  .transaction {
    padding: 2rem;
    border: 2px solid var(--primary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;
    width: 280px;
  }
}