@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg1)
}

.btn {
  cursor: pointer;
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  background-color: var(--bg2);
  width: 200px;
  height: 50px;
  font-weight: bold;
  transition: all 10ms ease-in-out;
}

.btn--small {
  width: 100px;
  height: 50px;
}

.btn--short {
  margin-top: 0.8rem;
}

.btn--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}


.btn:hover {
  text-shadow: var(--primary) 0px 0px 2px;
  border: 2px solid var(--focus);
}

.btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 20px var(--primary);
}