@import '../../App.css';

.modal__overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff86;
  overflow-x: hidden;
  transition: 0.5s;
}

.modal {
  border-radius: 1rem;
  padding: 2rem;
  margin: 0.5rem 2rem;
  background-color: var(--bg2);
  width: 30%;
  text-align: center;
  /* position: relative; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}

.modal__category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  gap: 1.25rem;
}

.modal__title {
  margin-bottom: rem;
}

.modal__input {
  background-color: var(--bg2);
  border: none;
  border-bottom: 2px solid var(--primary);
  font-weight: bold;
  color: var(--primary);
  outline: none;
  padding: 0.3rem 0rem;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
