* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --gray: rgb(243, 240, 240);
  --orange: #FE7B10;
  --radius: 0.3rem;
  --text: #7b7a7a;
}

.app {
  height: 100vh;
}

.App {
  text-align: center;
}
