* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --gray: rgb(243, 240, 240);
  --radius: 0.3rem;
  --text: #7b7a7a;
}

.App {
  text-align: center;
  background-color: var(--gray);
  min-height: 100vh;
}

.navbar {
  background-color: slategray;
}

.chart {
  height: 60vh;
}