@import '../../App.css';


.modal__overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff86;
  overflow-x: hidden;
  transition: 0.5s;
}

.modal {
  border-radius: 1rem;
  padding: 2rem;
  margin: 0.5rem 2rem;
  background-color: var(--bg2);
  width: 30%;
  text-align: center;
  /* position: relative; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem
}


.modal__btn-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

@media (max-width: 600px) {
  .modal {
    width: 80%;
    margin: 4rem 0 ;
  }

  .modal__btn-section {
    flex-direction: column;
    gap: 0.5rem;
  }
}