@import '../App.css';

.navbar {
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin: var(--vmargin) var(--hmargin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  height: 10%;
  
}

.navbar__section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__title {
  color: #FFFFFF;
}

.navbar__img {
  width: 200px;
  height: auto;
}

.navbar__greeting {
  color: #FFFFFF;
}

.navbar__btn {
  border-radius: 2rem;
  border: 1px solid #25BBA8;  
  background-color: var(--bg-1);
  padding: 0.5rem;
}

/* .navbar__btn--small {
  border-radius: 2rem;
  border: 1px solid #25BBA8;  
  background-color: var(--bg-1);
  padding: 0.5rem;
} */


/* 
@media only screen and (min-width: 970px) {
  .navbar {
    width: 80%;
    padding: 1rem 1.5rem;
    margin: var(--vertimarg) var(--horimarg);
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 250px;
      height: 65px;
      margin: auto;
    }

    &__btn--small {
      margin-left: auto;
    }
  }
} */
