@import '../../App.css';



.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content; 
  position: relative;
}


.transactions__prompt {
  font-size: 0.8rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 0;
}

.transactions__title {
  padding: 1rem;
  margin-bottom: 1rem;
}

.transactions__table {
  width: 90%;
}

.transactions__header {
  font-size: 1.25rem;
}

.transactions__table {
  border-spacing: 4px;
}