@import '../../App.css';

.register {
  min-height: 50vh;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  padding: 2rem 1.5rem;
  
  background-color: var(--bg2);
  border-radius: 2rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  
}


.register__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem 0rem 2rem;
}


.register__actions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}



@media (max-width: 600px) {
  .register {
    width: 80%;
  }
}